@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

  html {
      font-size: 62.5%;
      /* 1rem = 10px  */
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
.header {
    padding: 2rem 5rem;
    height: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#12c0fb;
  }
  .sticky .header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: var(--shadow);
    padding-top: 0;
    padding-bottom: 0;
    top: 0;
    left: 0;
  }
  .sticky .hero-section {
    margin-top: 5.6rem;
  }
  .header h3 a{
    color: #ffffff;
    font-weight: bold;
    border-radius: 0.3rem;
    line-height: 28px;
    font-size:xx-large;
    font-weight: 1000;
    font-family: 'Alkatra', cursive;
    font-family: 'Amiri Quran', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Noto Sans HK', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
  }
  .navbar {
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .nav-links li a {
    color: #ffffffd8;
    transition: 0.2s ease;
    font-weight: 300;
  }
  .nav-links li {
    font-size: 1.4rem;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
  }
  .nav-links li.active::after{
    width: 70%;
}
  .nav-links li::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0.2rem;
    background:#f3f4ff;
    left: 20%;
    top: -30%;
    transition: width 0.4s ease;
  }
  .nav-links li.active a{
    color:#fff;
  }
  .nav-links li:hover::after {
    width: 70%;
  }
  .nav-links li a:hover {
    color:#fff;
  }
  .nav-links a i {
    font-size: 2.5rem;
    color: var(--btn);
  }
  #menu{
    display: none;
    color: #fff;
    font-size: 1.5rem;
  }
  #color{
      font-size: 1rem;
  }
  .about_section{
    padding: 2rem 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.content h1{
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 3px;
    color: #262626;
    text-align: center;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 70%;
}
.para p{
    font-size: 1.5rem;
    text-align: justify;
}
  
/*
=================================================================
        FOOTER SECTION START
=================================================================

*/

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* padding-top: 1rem; */
    padding: 1rem 9rem;
    background-color: #12c0fb;
  }
  .left-area p{
      font-size: 1.6rem;
      color: #fff;
  }
  
  .footer-icon {
    display: flex;
    gap: 1.5rem;
  }
  .footer-icon i {
    font-size: 2rem;
    color:#ffffffd8;
    transition: 0.4s ease;
  }
  .footer-icon i:hover {
    transform: translateY(-0.1rem);
    color: #fff;
  }


/*
=================================================================
                    MEDIA QUERIES
=================================================================

*/

  @media (max-width: 930px){
    .footer-section{
        padding: 1rem 3rem;
    }
    .CARDS .card{
        margin: 1rem 0;
    }
}

  @media (max-width: 600px) {
      .para{
          width: 100%;
      }
    .nav-links li.active::after{
        width: 0;
    }
    #menu{
      display: block;
      color: #fff;
    }
    #menu {
      font-size: 2.4rem;
      color: #fff;
      border: 1px solid #f3f4ff;
      padding: 0.3rem;
    }
    #navbar {
      position: relative;
    }
    .nav-links.active {
      height: 40rem;
      opacity: 1;
    }
    .nav-links {
      display: block;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 5.6rem;
      background:#12c0fb;
      height: 0;
      width: 100%;
  
      z-index: 999;
      opacity: 0;
      visibility: visible;
      transition: 0.5s ease;
      overflow: hidden;
    }
    .nav-links li {
      padding: 0.7rem;
      top: 20%;
      text-align: center;
      justify-content: center;
      text-align: center;
    }
    .nav-links li a {
      font-size: 1.7rem;
    }
  }
  @media (max-width: 530px){
    .content h1 {
        font-size: 3rem;
    }
    .footer-section {
      flex-direction: column;
      gap: 1rem;
  }
  }
@media (max-width:500px){
    .header{
        padding: 2rem 2rem;
    }
}